@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
*{
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Raleway';
  text-align: center;
}
header{
  position:absolute;
  left:0;
  right:0;
}
h1{
  margin: 50px 0px 10px 0px;
  font-size: 50px;
}
header a:hover{
  color: red;
}
figure{
  border: ridge;
  margin-left: 150px;
  margin-right: 150px;
}
nav{
  padding-bottom: 2em;
}
nav ul{
  margin-top: 0;
  padding:0;
  list-style: none;
  padding: 10px 50px 10px 50px;
}

nav li{
  display: inline-block;
  margin: 10px 50px 0px 50px;
  font-size: 35px;
}
nav a {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  padding: .7em;
  color: purple;
}
.resize {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 350px;
    padding: 20px;
}
.skills{
  padding: .5em;
  max-width: 200px;
  max-height: 200px;
}
html{
  scroll-behavior: smooth;
  background-color: rgb(255,254,234);
  background-size: 22em;
  border: solid;
}

.blurb {
  margin-left: 4em;
  margin-right: 4em;
  font-size: 30px;
}
.goals{
  padding-top: 5em;
  font-size: 35px;
}


#about{
  font-size: 25px;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}




.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#bottom-right
{
right: 10px;
bottom: 0;
position: fixed;
}

.reg {
    color: #FFFFFF;
    text-decoration: none;
}
